$background-color: #BABABA;
$text-color: #123123;

body {
    font-family: "BryantProRegular", 'Helvetica Neue', helvetica, arial, sans-serif, "Helvetica Neue";
    background-color: $background-color;
    color: $text-color;
}

.shouldBePrefixed{
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}
