@import "themesVariables"; // Could use different theme file here to override default themes - this is also in themesMixins.scss
@import "themesMixins";

html, body, .appContainer{
    height: 100%;
    width: 100%;
    margin: 0px;
}

body{
    // We use themifyHere for body to write the body.theme-Name related SASS
    @include themifyHere($themes){
        border: themed('globalBorder')
    }
}

.appContainer {
    padding: 10px;
    // This property will be shared by all themes
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    // These are theme specific
    @include themify($themes) {
        color: themed('textColor');
        background-color: themed('backgroundColor');
    }

    .button {
        cursor: pointer;
        border-radius: 5px;
        padding: 15px 32px;
        display: inline-block;
        transition: color 0.1s, border-color 0.1s, background-color 0.1s;

        @include themify($themes) {
            border: themed('buttonBorder');
            color: themed('buttonTextColor');
            border-color: themed('buttonTextColor');
            background-color: themed('buttonColor');
            text-transform: themed('buttonTextTransform');

            &:hover {
                color: themed('buttonTextHoverColor');
                border-color: themed('buttonTextHoverColor');
                background-color: themed('buttonHoverColor');
            }
        }

    }
}

